/*

 Palette Colors
 ==============
gris oscuro = #1d252c
gris claro = #626262
background gris = 1b2127
celeste = 026fff
gris claro claro = fafafa



Index of Contents
=================

- Base Elements
	- Body tag
	- Heading tags
- Layout Element
	- Header Class
	- Hero Class 
	- Project Class

---------------------------------

*/

/*Base Elements
------------------------------------------------*/

* {
margin: 0;
}

/* Body tag
_________________________*/

	body {
		font-family: "Source Sans Pro",Arial, sans-serif;
	}

	


/*Heading Tags
___________________________*/

	h1 , h2 , h3 , h4 , h5 , h6 {

		font-size: 30px;
		font-family: "Fjalla One"

	}

	h1 {
		line-height: 150%; /*el alto y medio de la tipografia*/
		font-size: 40px;

		/*Estilos de fuentes*/
		font-weight: normal;
		letter-spacing: -.2px;
		text-transform: capitalize;
		margin: 0;
		padding: 15px
	}


/*Layout Elements
------------------------------------------------*/

.blog {
	margin: 30vh 5vw;
	text-align: center;
	letter-spacing: 3px;
	line-height: 30px;
}

/* Header Class
__________________________________________*/

	.header {

		display: flex;

		/*Colores*/
		background-color: #1b2127;
		color: white;

		/*Modelo de Caja*/
		width: 96vw;
		margin: 0;
		padding: 0 2%;
		height: 70px;

		/*Alineacion*/
		align-items: center;
		justify-content: space-between;

		/*Ornamentos*/
		position: fixed;
		top: 0px;
	}

	.header .logo h1 {
		font-size: 200%;
	}

	.header .menu {
		height: inherit;	
	}

	.header .menu ul {
		display: flex;
		height: inherit;
		align-items: center;
	}	

	.header .menu li {

		list-style-type: none;
		padding: 0  15px;
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header .menu li a {
		height: inherit;
		display: flex;
		align-items: center;
		color: white;
		text-decoration: unset;
	}

/* Hero Class
__________________________________________*/


	.hero {
		margin-top: 70px; 
		

		background-color: #1b2127;
		color: white;

		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		}

	.hero h1 {
		padding: 6% 2%;
		font-size: 2.4;

	}

	.hero h1 strong {
		color: #026fff;
	}

	.hero video {

		max-height: 400px;
		object-fit: cover;
	}

/* Filtering people
___________________________-*/

	.filtering-people {
		padding: 0 15%;
		
	}

	.filtering-people h1 {
		text-align: center;
	}

	.filtering-people p {
		font-size: 18px;
	}

/*Portfolio Class
__________________________________________*/


	.portfolio {
		background-color: #f9f9f9;
		margin: 0;
		padding: 30px 5px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.portfolio h2 {
		text-transform: uppercase;
		color: #026fff;
		padding: 20px;
		padding-bottom: 40px;
		font-family: "Source Sans Pro",Arial, sans-serif;
		font-weight: bold;
		font-size: 26px;

	}


	/* Project Class
	___________________________*/

.project {
			background-color: white;
			display: flex;

			padding: 20px;

			border: 1px solid lightgray;
			border-radius: 10px;

			border-bottom-right-radius: 60px;

			margin: 10px auto;
			margin-bottom: 15px;
			max-width: 900px;
			width: 80vw;

			box-shadow: 5px 5px 5px gray;

			justify-content: space-around;
			align-items: center;
			overflow: hidden;

		}

		   @media screen and (max-width: 600px) {

		   	.project {
		   		flex-wrap: wrap;
		   	}
		   }


		.project-text {

			width: 250px;
			padding: 10px;
			padding-top: 30px;

		}

		.project-title {
			font-size: 24px;
		}

		.project-course {
			color: gray;
			font-size: 14px;
			padding: 8px 0;
		}

		.project-description {
			margin: 15px 0;
			font-size: 18px;
		}

		.project-image-container {
				
					box-shadow: 5px 5px 5px gray;
					width: 80%;
				
			}

		.project-image {
			
			width: 100%;
			
		}

		.project strong {
			font-family: "Fjalla One" sans-serif;
			font-size: 14px;
		}

/*Events
_____________________*/


	.events {
		display: flex;
		flex-wrap: wrap;
	}

	.event {
		background-color: white;
		display: flex;

		padding: 0px;

		border-radius: 10px;

		margin: 10px auto;
		margin-bottom: 15px;
		width: 600px;

		box-shadow: 5px 5px 5px lightgray;

		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		text-align: center;

		overflow: hidden;
		flex-shrink: 0;

		background-color: #f4fbff;

	}

	.events h2 {

	
	width: 90vw;

	margin-top: 20px;

	padding: 20px;
	padding-bottom: 40px;

	color: #026fff;

	font-family: "Source Sans Pro",Arial, sans-serif;
	font-weight: bold;
	font-size: 26px;

	text-transform: uppercase;
	text-align: center;

	}

	.event figure {
		width: inherit;
	}

	.event-image {
		width: inherit;
		height: 200px;
		object-fit: cover;
	}

	.event-text-container {

		margin: 10%;
		margin-top: -30px;

		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
	}

	.event-title {
		padding: 30px;
	}


	.event-link {

		display: block;

		color: #026fff;
		border: 1px solid;
		padding: 10px 20px;
		border-radius: 5px;
		font-weight: bold;
		width: 100px;

	}

	.event-description {
		padding: 30px; 
		padding-top: 0;

		margin: 0 50px; 
		text-align: left; 	
	}


/* service Class
___________________________*/


 .services {
	
		padding: 30px 5px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

	}

	.services ul li {
		list-style-image: url("../public/check-mark.svg");
	}
		
	.services-title {
		width: 90vw;
		text-align: center;
	}



	.service {
		background-color: black;
		color: white;
		display: flex;

		border: 1px solid lightgray;
		border-radius: 10px;
		border-bottom-right-radius: 60px;

		width: 80vw;
		max-width: 500px;

		margin: 10px;

		padding: 20px;

		box-shadow: 5px 5px 5px gray;

		justify-content: space-around;
		align-items: center;
		overflow: hidden;

	}


	.service-text {

		width: 250px;
		padding-top: 30px;

	}

	.service-title {
		font-size: 24px;
	}

	.service-course {
		color: gray;
		font-size: 14px;
		padding: 8px 0;
	}

	.service-description {
		margin: 15px 0;
		font-size: 18px;
	}

	.service-image-container {
		width: 300px;
		}

	.service strong {
		font-family: "Fjalla One" sans-serif;
		font-size: 14px;
	}


/*Contact
_____________________*/

	.contact {
		background-color: #056fff;
		color: white;
		padding: 20px 30px;

		display: flex;


		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap
	}

	.contact-form h2 {
		padding: 20px 0;
		font-family: "Source Sans Pro",Arial, sans-serif;

	}

	.contact-form a {
		display: block;
		margin-top: 10px;
		background-color: transparent;

		padding: 10px 30px;

		font-size: 18px;

		color: white;
		border: solid 1px;

			background-image: url("../images/envelope.svg");
		background-size: 20px 20px;
		background-repeat: no-repeat;
		background-position-y: center;
		background-position-x: 5px;

		text-decoration: none;
	}

	.social-link {
		display: inline-block;
		width: 80px;
		height: 80px;
		margin: 10px;
	}

	.social-link.twitter {
		background-image: url("../images/twitter.svg");
		background-size: 80px 80px;
		background-repeat: no-repeat;
	}


	.social-link.linkedin {
		background-image: url("../images/linkedin-logo.svg");
		background-size: 80px 80px;
		background-repeat: no-repeat;
		fill: white;
	}

	.social-link.github {
		background-image: url("../images/github.svg");
		background-size: 80px 80px;
		background-repeat: no-repeat;
	}


/*Footer
-------------*/

	.footer {

			display: flex;

			/*Colores*/
			background-color: #1b2127;
			color: white;

			/*Modelo de Caja*/
			width: 96%;
			margin: 0;
			padding: 0 2%;
			height: 89px;

			/*Alineacion*/
			align-items: center;
			justify-content: space-between;

			/*Ornamentos*/
			border-top: 1px solid white;

		}

	.footer .logo {
		height: 30px;
		display: inline;
		vertical-align: middle;
	}

	.footer a {
		color: white;
		text-decoration: none;
		font-weight: bold;
	}


	.container {

		width: 1300px;
		margin: 0 auto;
		display: inherit;
		justify-content: inherit;
		align-items: inherit;
		height: inherit;
		flex-wrap: inherit;

	}