

	.BlogPostLink {
		background-color: white;
		display: flex;

		padding: 0px;

		border-radius: 10px;

		margin: 10px auto;
		margin-bottom: 15px;
		min-width: 40vw;
		max-width: 300px;

		box-shadow: 5px 5px 5px lightgray;

		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		text-align: center;

		overflow: hidden;
		flex-shrink: 0;

		background-color: #f4fbff;

	}


	.BlogPostLink figure {
		width: inherit;
	}

